.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  border: 1px solid blue;
  height: 500px;
  margin-top: 100px;
  width: 1200px;
  float: left;
  border-radius: 10px;
  margin-right: 300px;
}

.container {
  margin-left: 100px;
  padding-left: 190px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.bottom {
  border: 1px solid blue;
  height: 400px;
  margin-top: 180px;
  width: 700px;
  float: left;
  margin-left: 32px;
  border-radius: 10px;
}

.bottom-space {
  height: 200px;
}

.bottom-card {
  margin-top: 180px;
}

.bottom-right {
  margin-top: 100px;
}

.nav {
  flex-wrap: wrap;
}

.navbar {
  /* gap: 1rem; */
  padding: 1rem;
  /* list-style-type: none;
  margin-left: 1em; */
  display: flex;
}

.home {
  float: left;
  list-style-type: none;
}

.right-nav {
  display: flex;
  position: absolute;
  right: 0;
}

.right-nav li {
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
}
